fastapi==0.111.1
google_api_python_client==1.7.2
google_auth_oauthlib==0.4.1
google_auth==1.8.0
google_auth_httplib2==0.0.3
jsonpickle==3.0.4
openai_whisper==20231117
protobuf==5.27.2
Requests==2.32.3
uvicorn==0.30.3
babel==2.15.0
